.description-container {
  margin-top: 32px;
  margin-left: 0;
  padding-left: 0;
  font-size: 14px;
}

.header {
  font-size: 24px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.copilot {
  margin-left: 58.5%;
}