.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure the container takes full height */
  padding: 0px;
  border: 0px solid #ccc;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  /* display: flex; */
  /* margin-bottom: 10px; */
  
}

.chat-input-container {
  display: flex;
  align-items: flex-end; /* Aligns everything at the bottom of the container */
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.chat-input {
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  padding: 10px;
  margin-right: 10px;
  font-size: 12px; /* Adjust the font size */
}

.send-button {
  
  display: flex;
  align-items: flex-end; /* Ensure the button is aligned at the bottom */
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  height: auto; /* Ensures button height remains appropriate */
}

.msg {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 8px;
}
.user-message {
  display: inline-block;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  max-width: 60%;
  word-wrap: break-word;
  margin-bottom: 1%;
  overflow-y: auto;
  font-size: 12px;
}

.markdown-content h3 {
  font-size: 16px;
}

.markdown-content p {
  margin-bottom: 1px;
}

.markdown-scrollable {
  white-space: nowrap;
  overflow-x: auto;
}

.copilot {
  /* padding: 0; */
  /* margin: 0; */
}


.copilot-message {
  /* background-color: #f1f1f1; 
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  max-width: 100%;
  word-wrap: break-word;
  margin-bottom: 1%; */
}

.custom-offcanvas {
  width: 40vw !important; /* !important ensures the custom width is applied */
}
