.buttons-container {
  /* padding-top: 12px;
  position: fixed;
  margin-left: 50%;
  z-index: 10; */
  gap: 10px;
}

/* .buttons-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-top: 20px; 
  z-index: 10;
} */

.buttons-container .add-component {
  /* margin-right: 12px; */
}

.custom-modal {
  max-width: 50%;
  width: 100%;
}
